<%include file="header.inc" args="title='Home'"/>
<!-- Banner -->
<section id="banner">
  <h2 style="text-shadow: 1px 1px 2px #222">PLISS 2025</h2>
  <p style="text-shadow: 1px 1px 2px #222; font-size: 2.5em">Programming Language Implementation Summer School</p>
</section>

<!-- One -->
<section id="one" class="wrapper style1">
  <div class="container 75%">
    <div class="row 200%">
      <div class="6u 12u$(medium)">
        <header><h2>News</h2></header>
        <p><strong>2024-11-13</strong>: PLISS announced </p>
      </div>
      <div class="6u$ 12u$(medium)">
	<header> <h2>PLISS going strong!</h2> <p>May 25-31, 2025</p></header>
	<p>The Sixth International Programming Language Implementation
	  Summer School (PLISS) will be held in Bertinoro in May 2025.
	</p>
	<p>PLISS' goal is to prepare students for advanced study in
	  the field through a combination of lectures on language
	  implementation techniques, exploring the state of the art in
	  language research and practice, and mentoring sessions.</p>
	<p>PLISS is open to all.</p>
	<p>Financial support is available for students in need.</p>
      </div>
    </div>
  </div>
</section>

<section id="four" class="wrapper style3 special">
  <div class="container">
    <header class="major">
      <h2>Registration</h2>
      <p>The registration for PLISS 2025 will open soon.</p>
    </header>
    <ul class="actions">
      <!--<<li><a href="" class="button special big">Coming soon</a></li>-->
    </ul>
  </div>
</section>

<section id="five" class="wrapper style1 special">
  <div class="container" style="width: 100%">
    <h2>Sponsored by</h2>
    <p class="sponsors">
      <a href="https://www.sigplan.org/"><img src="images/sponsors/sigplan.png"/></a>
      <a href="https://www.raincodelabs.com/"><img src="images/sponsors/raincode2.png" style="height: 100%" /></a>
      <a href="https://www.cvut.cz/en"><img src="images/sponsors/cvut.png"/></a>
      <a href="http://www.kcl.ac.uk/"><img src="images/sponsors/kcl.png"/></a>
      <a href="http://www.northeastern.edu/"><img src="images/sponsors/northeastern.jpg" style="height: 3.5em" /></a>
      <a href=""><img src="images/sponsors/bici.png" style="height: 3.2em" /></a>
    </p>
  </div>
</section>
<%include file="footer.inc" />
