<%include file="header.inc" args="title='Speakers'"/>
<section id="main" class="wrapper">
  <div class="container">
    <header class="major special"> <h2>Schedule</h2> </header>

    <b>All talks are held in the <a
              href="https://www.ceub.it/sala-affrescata/">Fresco Room</a> in
         the Castle.</b>

    <p/>

    <div class="content">
      <table>
        <tr>
          <td id=""></td>
          <td id="">Monday</td>
          <td id="">Tuesday</td>
          <td id="">Wednesday</td>
          <td id="">Thursday</td>
          <td id="">Friday</td>
          <td id="">Saturday</td>
        </tr>
        <tr>
          <td id="">09:00</td>
          <td id="" style="background-color: #d2edfd"><a href="lectures.html#shriram">Krishnamurthi</a></td>
          <td id="" style="background-color: #ffdbdb"><a href="lectures.html#greta">Yorsh</a></td>
          <td id="" style="background-color: #e7f9e2"><a href="lectures.html#jeremy">Singer</a></td>
          <td id="" style="background-color: #d2edfd"><a href="lectures.html#shriram">Krishnamurthi</a></td>
          <td id="" style="background-color: #e4e7ff"><a href="lectures.html#nick">Benton</a></td>
          <td id="" style=""><a href="lectures.html#stefan">Tratt</a></td>

        </tr>
        <tr>
          <td id="">11:00</td>
          <td id="" style="background-color: #fbe8fd"><a href="lectures.html#hila">Peleg</a></td>
          <td id="" style="background-color: #fffcd6"><a href="lectures.html#david">Chisnall</a></td>
          <td id="" style="background-color: #ffeac9"><a href="lectures.html#tomas">Petricek</a></td>
          <td id="" style="background-color: #e7f9e2"><a href="lectures.html#jeremy">Singer</a></td>
          <td id="" style="background-color: #defbf5"><a href="lectures.html#ranjit">Jhala</a></td>
          <td id="" style=""><a href="lectures.html#fellienne">Vitek</a></td>
        </tr>
        <tr>
          <td id="">14:00</td>
          <td id="" style="background-color: #ffdbdb"><a href="lectures.html#greta">Yorsh</a></td>
          <td id="" style="background-color: #e8f2ec"><a href="lectures.html#ben">Titzer</a></td>
          <td id=""></td>
          <td id="" style="background-color:  #e4e7ff"><a href="lectures.html#nick">Benton</a></td>
          <td id="" style="background-color: #fbe8fd"><a href="lectures.html#hila">Peleg</a></td>
          <td id=""></td>
        </tr>
        <tr>
          <td id="">16:00</td>
          <td id="" style="background-color: #defbf5"><a href="lectures.html#ranjit">Jhala</a></td>
          <td id="" style="background-color: #ffeac9"><a href="lectures.html#tomas">Petricek</a></td>
          <td id=""></td>
          <td id="" style="background-color: #e8f2ec"><a href="lectures.html#ben">Titzer</a></td>
          <td id="" style="background-color: #fffcd6"><a href="lectures.html#david">Chisnall</a></td>
          <td id=""></td>
        </tr>
      </table>
    </div>
  </div>
</section>

<%include file="footer.inc" />
