<%include file="header.inc" args="title='Speakers'"/>
<section id="main" class="wrapper">
  <div class="container">
    <header class="major special"><h2>PLISS Speakers</h2></header>
    <div class="feature-grid">
      <div class="feature">
        <div class="image rounded"><img src="images/Ranjit_Jhala.jpg" alt="" /></div>
        <div class="content">
          <header>
            <h4>Ranjit Jhala</h4>
            <p><a href="https://ranjitjhala.github.io/">UC San Diego</a></p>
          </header>
          <p>My career in pop music never took off but you might be entertained by looking me up on youtube...</p>
        </div>
      </div>
      <div class="feature">
        <div class="image rounded"><img src="images/Shriram_Krishnamurthi.jpg" alt="" /></div>
        <div class="content">
          <header>
            <h4>Shriram Krishnamurthi</h4>
            <p><a href="https://cs.brown.edu/~sk/">Brown University</a></p>
          </header>
          <p>I'm unreasonably fascinated by, delighted by, and excited about computer science, education, cycling, cricket, and the general human experience. I like to ride bikes very slowly up mountains. To be clear, I like the riding and mountains parts, not the very slowly part. I believe tropical fruit are superior to all other kinds.</p>
        </div>
      </div>
      <div class="feature">
        <div class="image rounded"><img src="images/Greta_Yorsh.jpg" alt="" /></div>
        <div class="content">
          <header>
            <h4>Greta Yorsh</h4>
            <p><a href="https://gretay.github.io/">Jane Street</a></p>
          </header>
          <p>I love cycling uphill but not downhill. </p>
        </div>
      </div>
      <div class="feature">
        <div class="image rounded"><img src="images/David_Chisnall.jpg" alt="" /></div>
        <div class="content">
          <header>
            <h4>David Chisnall</h4>
            <p><a href="https://www.cl.cam.ac.uk/~dc552/">SCI Semiconductor / University of Cambridge</a></p>
          </header>
          <p>My kitchen is overwhelmingly full of machines dedicated to melting cheese in various different ways.</p>
        </div>
      </div>
      <div class="feature">
        <div class="image rounded"><img src="images/Jeremy_Singer.jpg" alt="" /></div>
        <div class="content">
          <header>
            <h4>Jeremy Singer</h4>
            <p><a href="https://www.dcs.gla.ac.uk/~jsinger">University of Glasgow</a></p>
          </header>
          <p>Giraffes outnumber people in my family home, by an order of magnitude. Not entirely sure why ... </p>
        </div>
      </div>
      <div class="feature">
        <div class="image rounded"><img src="images/Hila_Peleg.jpg" alt="" /></div>
        <div class="content">
          <header>
            <h4>Hila Peleg</h4>
            <p><a href="http://hilap.cswp.cs.technion.ac.il/">Technion</a></p>
          </header>
          <p>Has met three Star Trek actors and one astronaut.</p>
        </div>
      </div>
      <div class="feature">
        <div class="image rounded"><img src="images/Tomas_Petricek.png" alt="" /></div>
        <div class="content">
          <header>
            <h4>Tomas Petricek</h4>
            <p><a href="https://tomasp.net">Charles University</a></p>
          </header>
          <p>Likes history and philosophy of science. Ask me about scorpions or magnets. Dislikes getting out of bed at single-digit hours.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<%include file="footer.inc" />
