<%include file="header.inc" args="title='FAQ'"/>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="container">

					<header class="major special">
						<h2>FAQ</h2>
						<p>Frequently asked questions</p>
					</header>

                    <ul class="alt">
                        <li>
                            <h4>When does the school start and end?</h4>
                            <p>We start Sun May 9th at 13:30 and end on Fri 15th
                            at 12:00. Students should have arrived in Bertinoro
                            before 13:00 on Sunday at the latest and are
                            expected to stay the whole week.</p>
                        </li>
                        <li>
                            <h4>What is covered by the registration costs?</h4>
                            <p>Accommodation for the whole week in shared rooms,
                            breakfast and lunch as well as an excursion on
                            Wednesday. Students will only have to pay for the
                            cost of travel to Bertinoro and for their dinners
                            in the many cosy restaurants in the town.</p>
                        </li>
                        <li>
                            <h4>Can I get support to attend the Summer School?</h4>
                            <p>Yes, we have various funds available to support
                            deserving students! Different sources of funding
                            come with different limitations, but we will
                            do our best to support you. Please be
                            modest in your requests and try to save money
                            wherever possible. If you are accepted for PLISS, check with the
                            organizers before booking any travel.</p>

                        </li>
                        <li>
                            <h4>Who can attend?</h4>
                            <p>The main target audience are students interested
                            in programming languages. We are particularly
                            interested in encouraging minorities and also
                            undergraduates. Anyone else is welcome space
                            permitting. Note: we won't accept previous
                            attendees of PLISS, as we want to maximise the
                            number of people who can enjoy the PLISS
                            experience.</p>
                        </li>
                        <li>
                            <h4>How to apply?</h4>
                            <p>Registration hasn't opened yet. Please check back
                            later for more details. Don't hesitate to ask
                            questions if you have any!</p>
                        </li>
                        <li>
                            <h4>Are there prerequisites?</h4>
                            <p>An undergraduate programming language class and/or
                             compiler class is all you need.</p>
                        </li>
                    </ul>

				</div>
			</section>

<%include file="footer.inc" />
