<%include file="../header.inc" args="title='PLISS 2020'"/>

<h2>Programming Language Implementation Summer School 2020</h2>


The Third International Programming Language Implementation Summer School
(PLISS) will be held in Bertinoro, Italy from May 9 to 15, 2020. The Summer
School's goal is to prepare PhD students for advanced study in the field.  This
will be done through a combination of lectures on language implementation
techniques and short talks exploring the state of the art in programming
language research and practice.

Confirmed speakers include:

<ul>
<li>Emery Berger
<li>Cristian Cadar
<li>Christine Flood
<li>Jeffrey S. Foster
<li>Stephen Kell
<li>Shriram Krishnamurthi
<li>Miland Kulkarni
<li>Frank Tip
<li>Eelco Visser
</ul>

More speakers coming soon! Registration will open soon, so please check back for more details.

<%include file="../footer.inc" />
