<%include file="header.inc" args="title='Home'"/>

		<!-- Banner -->
			<section id="banner">
				<h2 style="text-shadow: 1px 1px 2px #222">PLISS 2020</h2>
				<p style="text-shadow: 1px 1px 2px #222; font-size: 2.5em">Programming Language Implementation Summer School 2020</p>
			</section>

			<!-- One -->
				<section id="one" class="wrapper style1">

					<div class="container 75%">
                        <b style="font-size: 200%">Due to COVID-19, we regret that PLISS 2020 has been cancelled. <a href="/2022/">We're back in person now in 2022!</a></b>
						<div class="row 200%">
							<div class="6u 12u$(medium)">
                                <header>
                                    <h2>News</h2>
                                </header>
                                <p>
                                <strong>2020-03-11</strong>: PLISS cancelled due to COVID-19<br />
                                <strong>2020-02-07</strong>: More <a href="speakers.html">speakers</a> and <a href="lectures.html">lectures</a><br />
                                <strong>2019-11-20</strong>: Registration opens<br />
                                <strong>2019-10-21</strong>: Website is live
                                </p>
                                </header>
							</div>
							<div class="6u$ 12u$(medium)">
								<header>
									<h2>Bertinoro, Italy</h2>
									<p>May 9 to 15, 2020</p>
								</header>
                                <p>The Third International Programming Language
                                Implementation Summer School (PLISS) will be
                                held in Bertinoro, Italy from May 9 to 15,
                                2020.
                                </p>
                                <p>The Summer School's goal is to prepare
                                PhD students for advanced study in the field.
                                This will be done through a combination of
                                lectures on language implementation techniques
                                and short talks exploring the state of the art
                                in programming language research and
                                practice.</p>
							</div>
						</div>
					</div>
				</section>

			<!-- Four -->
				<section id="four" class="wrapper style3 special">
					<div class="container">
                        <header class="major">
                        <h2>Registration</h2>
                        <p>The registration for PLISS 2020 is now open.</p>
                        </header>
                        <ul class="actions">
							<li><a href="registration.html" class="button special big">Click here to register</a></li>
						</ul>
					</div>
				</section>

                <section id="five" class="wrapper style1 special">
                    <div class="container">
                        <h2>Sponsored by</h2>
                        <p class="sponsors">
                            <a href="https://erc.europa.eu/"><img src="images/sponsors/erc.png" style="height: 4.5em" /></a>
                            <a href="https://www.nsf.gov/"><img src="images/sponsors/nsf.jpg" style="height: 4.5em" /></a>
                            <a href="https://www.raincode.com/"><img src="images/sponsors/raincode.png" style="height: 3.2em" /></a>
                            <a href="https://www.sigplan.org/"><img src="images/sponsors/sigplan.png"/></a>
                            <br />
                            <br />
                            <a href="https://www.cvut.cz/en"><img src="images/sponsors/cvut.png"/></a>
                            <a href="http://www.kcl.ac.uk/"><img src="images/sponsors/kcl.png"/></a>
                            <a href="http://www.northeastern.edu/"><img src="images/sponsors/northeastern.jpg" style="height: 3.5em" /></a>
                        </p>
                    </div>
                </section>

<%include file="footer.inc" />
