<%include file="header.inc" args="title='Home'"/>

		<!-- Banner -->
			<section id="banner">
				<h2>PLISS 2020</h2>
				<p>Programming Language Implementation Summer School 2020</p>
			</section>

			<!-- One -->
				<section id="one" class="wrapper style1">
					<div class="container 75%">
						<div class="row 200%">
							<div class="6u 12u$(medium)">
								<header class="major">
									<h2>Bertinoro, Italy</h2>
									<p>May 9 to 15, 2020</p>
								</header>
							</div>
							<div class="6u$ 12u$(medium)">
                                <p>The Third International Programming Language
                                Implementation Summer School (PLISS) will be
                                held in Bertinoro, Italy from May 9 to 15,
                                2020.
                                </p>
                                <p>The Summer School's goal is to prepare
                                PhD students for advanced study in the field.
                                This will be done through a combination of
                                lectures on language implementation techniques
                                and short talks exploring the state of the art
                                in programming language research and
                                practice.</p>
							</div>
						</div>
					</div>
				</section>

			<!-- Four -->
				<section id="four" class="wrapper style3 special">
					<div class="container">
                        <ul class="actions">
							<li><a href="registration.html" class="button special big">Register for PLISS 2020</a></li>
						</ul>
					</div>
				</section>

<%include file="footer.inc" />
