<%include file="header.inc" args="title='Organisers'"/>

		<!-- Main -->
			<section id="main" class="wrapper">
					<div class="container">
						<header class="major special">
							<h2>Organisers</h2>
						</header>
						<div class="feature-grid">
							<div class="feature">
								<div class="image rounded"><img src="images/Laurence_Tratt.jpg" alt="" /></div>
								<div class="content">
									<header>
										<h4>Laurence Tratt</h4>
										<p>King's College London</p>
									</header>
                                    <p>Laurence Tratt is a Reader in the Department of
                                    Informatics at King's College London where
                                    he leads the Software Development Team.
                                    </p>
								</div>
							</div>
							<div class="feature">
								<div class="image rounded"><img src="images/Jan_Vitek.jpg" alt="" /></div>
								<div class="content">
									<header>
										<h4>Jan Vitek</h4>
										<p>Northeastern University.</p>
									</header>
									<p>Jan Vitek is a Professor of Computer Science at Northeastern University. He works on topics related to the design and implementation of programming languages.</p>
								</div>
							</div>
							<div class="feature">
								<div class="image rounded"><img src="images/lucie2.jpg" alt="" /></div>
								<div class="content">
									<header>
										<h4>Lucie Lerch</h4>
										<p>Czech Technical University.</p>
									</header>
									<p></p>
								</div>
							</div>
						</div>
					</div>
			</section>

<%include file="footer.inc" />
