<%include file="header.inc" args="title='Organisers'"/>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="container">

					<header class="major special">
						<h2>Speakers</h2>
						<p>Confirmed</p>
					</header>

					<p>Confirmed speakers include:
                    <ul>
                        <li> Emery Berger
                        <li> Cristian Cadar
                        <li> Christine Flood
                        <li> Jeffrey S. Foster
                        <li> Stephen Kell
                        <li> Shriram Krishnamurthi
                        <li> Miland Kulkarni
                        <li> Frank Tip
                        <li> Julien Verlaguet
                        <li> Eelco Visser 
                    </ul>

                    More speakers coming soon!</p>

				</div>
			</section>

<%include file="footer.inc" />
