<%include file="header.inc" args="title='Home'"/>

		<!-- Banner -->
			<section id="banner">
				<h2 style="text-shadow: 1px 1px 2px #222">PLISS 2022</h2>
				<p style="text-shadow: 1px 1px 2px #222; font-size: 2.5em">Programming Language Implementation Summer School 2022</p>
			</section>

			<!-- One -->
				<section id="one" class="wrapper style1">

					<div class="container 75%">
						<div class="row 200%">
							<div class="6u 12u$(medium)">
                                <header>
                                    <h2>News</h2>
                                </header>
                                <p>
                                <strong>2022-07-04</strong>: Registration expression of interests open<br>
                                <strong>2022-05-03</strong>: PLISS 2022 announced
                                </p>
                                </header>
							</div>
							<div class="6u$ 12u$(medium)">
								<header>
									<h2>PLISS is back!</h2>
									<p>Oct 24 to Oct 29, 2022</p>
								</header>
                                <p>The Fourth International Programming Language
                                Implementation Summer School (PLISS) will be
                                held in Bertinoro in October 2022.
                                </p>
                                <p>The Summer School's goal is to prepare
                                students for advanced study in the field.
                                This will be done through a combination of
                                lectures on language implementation techniques,
                                exploring the state of the art
                                in programming language research and
                                practice, and mentoring sessions.</p>
							</div>
						</div>
					</div>
				</section>

				<section id="four" class="wrapper style3 special">
					<div class="container">
                        <header class="major">
                        <h2>Registration</h2>
                        <p>The registration for PLISS 2022 is now open.</p>
                        </header>
                        <ul class="actions">
							<li><a href="registration.html" class="button special big">Click here to register</a></li>
						</ul>
					</div>
				</section>

                <section id="five" class="wrapper style1 special">
                    <div class="container">
                        <h2>Sponsored by</h2>
                        <p class="sponsors">
                            <a href="https://erc.europa.eu/"><img src="images/sponsors/erc.png" style="height: 4.5em" /></a>
                            <a href="https://www.nsf.gov/"><img src="images/sponsors/nsf.jpg" style="height: 4.5em" /></a>
                            <a href="https://www.raincode.com/"><img src="images/sponsors/raincode.png" style="height: 3.2em" /></a>
                            <a href="https://www.sigplan.org/"><img src="images/sponsors/sigplan.png"/></a>
                            <a href="https://www.cvut.cz/en"><img src="images/sponsors/cvut.png"/></a>
                            <br />
                            <br />
                            <a href="http://www.kcl.ac.uk/"><img src="images/sponsors/kcl.png"/></a>
                            <a href="http://www.northeastern.edu/"><img src="images/sponsors/northeastern.jpg" style="height: 3.5em" /></a>
                            <a href="https://research.fb.com/"><img src="images/sponsors/facebook.png" style="height: 3.5em" /></a>
                        </p>
                    </div>
                </section>

<%include file="footer.inc" />
