<%include file="header.inc" args="title='Lectures'"/>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="container">

					<header class="major special">
						<h2>Lectures</h2>
						<p></p>
					</header>

                    <div class="content">

                        <header>
                            <h4>What should a programming language implementation be?
                            <span class="and">and</span>
                            Where the wild pointers are
                            </h4>
                            <p>Stephen Kell</p>
                        </header>
                        <p>(1) A box that goes fast? A comfortable space to work in? A
                        unifying overlord that "rules" all software? An
                        obedient servant? An intelligent collaborator? A window
                        onto a wider world?
                        In this relatively high-level lecture I'll examine different attitudes to
                        this question, as manifest in different real language implementations over
                        history, and use these to explain or hypothesise some directions of ongoing
                        and future work. One theme will be how the goal of serving human beings is,
                        curiously, slipping further down the agenda even while machine resources
                        are more plentiful than ever.
                        </p>
                        <p>
                        (2) "A linker, a debugger and a garbage collector walked into a bar,
                        all looking for the manager."

                        In this relatively low-level lecture
                        I'll cover why these systems are all different facets of the same
                        strangely-shaped coin,
                        why the folklore dichotomy of "managed vs unmanaged"
                        is obscuring useful points in the design space,
                        why this is hurting our ability to build tools
                        and offer usable interoperability among languages/implementations,
                        and one possible evolutionary approach for doing better.

                        An emergent theme will be that language implementations are arguably
                        in need of an "hourglass architecture" rather like the Internet's,
                        and that handling of pointers, in their many guises, is the main unresolved challenge.
                        </p>

                        <hr>

                        <header>
                            <h4>Beyond polyhedra: optimizing irregular programs</h4>
                            <p>Milind Kulkarni</p>
                        </header>
                        <p>
                        In these lectures, I will focus on the problem of
                        compile-time scheduling optimizations that restructure
                        computations to improve locality and parallelims.
                        Traditional approaches to this problem reason about
                        loop structures and schedules in terms of polyhedra,
                        but there has been little success in extending such
                        approaches beyond loop-based programs. I will start by
                        briefly introducing the basic concepts used in
                        reasoning about and transforming loop programs. I will
                        then argue that there are interesting scheduling
                        transformations that can be done for non–loop based
                        programs, in particular recursive traversla programs
                        such as those that arise in graphics, data mining, and
                        simulation. I will survey recent work from the last
                        decade on designing and implementing these
                        transformations. Then, I will discuss recent advances
                        in developing unified frameworks for representing,
                        reasoning about, and transforming programs that deal
                        with loops and recursion. Time permitting, we will also
                        use one of these frameworks to explore and design a new
                        transformation for recursive programs.
                        </p>

                    </div>

				</div>
			</section>

<%include file="footer.inc" />
