<%include file="header.inc" args="title='Speakers'"/>

            <section id="main" class="wrapper">
                    <div class="container">

                        <header class="major special">
                            <h2>Schedule</h2>
                        </header>
                    <div class="content">
                    <table>
                        <tr>
                            <td id=""></td>
                            <td id="">Monday</td>
                            <td id="">Tuesday</td>
                            <td id="">Wednesday</td>
                            <td id="">Thursday</td>
                            <td id="">Friday</td>
                            <td id="">Saturday</td>
                        </tr>
                        <tr>
                            <td id="">09:00</td>
                            <td id=""></td>
                            <td id="" style="background-color: #d2edfd"><a href="lectures.html#foster">Foster</a></td>
                            <td id="" style="background-color: #dbfdd2"><a href="lectures.html#click">Click</a></td>
                            <td id="" style="background-color: #d2edfd"><a href="lectures.html#foster">Foster</a></td>
                            <td id="" style="background-color: #d2d9fd"><a href="lectures.html#urban">Urban</a></td>
                            <td id="" style="background-color: #f8d2fd"><a href="lectures.html#kell">Kell</a></td>
                        </tr>
                        <tr>
                            <td id="">11:00</td>
                            <td id=""></td>
                            <td id="" style="background-color: #dbfdd2"><a href="lectures.html#click">Click</a></td>
                            <td id="" style="background-color: #fcfdd2"><a href="lectures.html#berger">Berger</a></td>
                            <td id="" style="background-color: #fddad2"><a href="lectures.html#cadar">Cadar</a></td>
                            <td id="" style="background-color: #d2fdf5"><a href="lectures.html#kulkarni">Kulkarni</a></td>
                            <td id="" style="background-color: #ffbebe"><a href="lectures.html#gonnord">Gonnord</a></td>
                        </tr>
                        <tr>
                            <td id="">14:00</td>
                            <td id="" style="background-color: #fcfdd2"><a href="lectures.html#berger">Berger</a></td>
                            <td id="" style="background-color: #ffe0af"><a href="lectures.html#verlaguet">Verlaguet</a></td>
                            <td id=""></td>
                            <td id="" style="background-color: #f8d2fd"><a href="lectures.html#kell">Kell</a></td>
                            <td id="" style="background-color: #ffe0af"><a href="lectures.html#verlaguet">Verlaguet</a></td>
                            <td id=""></td>
                        </tr>
                        <tr>
                            <td id="">16:00</td>
                            <td id="" style="background-color: #d2fdf5"><a href="lectures.html#kulkarni">Kulkarni</a></td>
                            <td id="" style="background-color: #fddad2"><a href="lectures.html#cadar">Cadar</a></td>
                            <td id=""></td>
                            <td id="" style="background-color: #d2d9fd"><a href="lectures.html#urban">Urban</a></td>
                            <td id="" style="background-color: #ffbebe"><a href="lectures.html#gonnord">Gonnord</a></td>
                            <td id=""></td>
                        </tr>
                    </table>

                    </div>
                    </div>
            </section>

<%include file="footer.inc" />
