<%include file="header.inc" args="title='Speakers'"/>

            <section id="main" class="wrapper">
                    <div class="container">

                        <header class="major special">
                            <h2>Schedule</h2>
                        </header>
                    <div class="content">
                    <table>
                        <tr>
                            <td id=""></td>
                            <td id="">Monday</td>
                            <td id="">Tuesday</td>
                            <td id="">Wednesday</td>
                            <td id="">Thursday</td>
                            <td id="">Friday</td>
                            <td id="">Saturday</td>
                        </tr>
                        <tr>
                            <td id="">09:00</td>
                            <td id=""></td>
                            <td id="" style="background-color: #d2edfd">Foster</td>
                            <td id="" style="background-color: #dbfdd2">Click</td>
                            <td id="" style="background-color: #fddad2">Cadar</td>
                            <td id="" style="background-color: #d2d9fd">Urban</td>
                            <td id="" style="background-color: #f8d2fd">Kell</td>
                        </tr>
                        <tr>
                            <td id="">11:00</td>
                            <td id=""></td>
                            <td id="" style="background-color: #dbfdd2">Click</td>
                            <td id="" style="background-color: #fcfdd2">Berger</td>
                            <td id="" style="background-color: #d2edfd">Foster</td>
                            <td id="" style="background-color: #d2fdf5">Kulkarni</td>
                            <td id="" style="background-color: #ffbebe">Gonnard</td>
                        </tr>
                        <tr>
                            <td id="">14:00</td>
                            <td id="" style="background-color: #fcfdd2">Berger</td>
                            <td id="" style="background-color: #ffe0af">Verlaguet</td>
                            <td id=""></td>
                            <td id="" style="background-color: #f8d2fd">Kell</td>
                            <td id="" style="background-color: #ffe0af">Verlaguert</td>
                            <td id="" style="background-color: #d2edfd"></td>
                        </tr>
                        <tr>
                            <td id="">16:00</td>
                            <td id="" style="background-color: #d2fdf5">Kulkarni</td>
                            <td id="" style="background-color: #fddad2">Cadar</td>
                            <td id=""></td>
                            <td id="" style="background-color: #d2d9fd">Urban</td>
                            <td id="" style="background-color: #ffbebe">Gonnard</td>
                            <td id=""></td>
                        </tr>
                    </table>

                    </div>
                    </div>
            </section>

<%include file="footer.inc" />
