<%include file="header.inc" args="title='Speakers'"/>


			<section id="main" class="wrapper">
				<div class="container">

					<header class="major special">
                        <h2>Speakers</h2>
                    </header>

                    <div class="feature-grid">
                        <div class="feature">
                            <div class="image rounded"><img src="images/Emery_Berger.jpg" alt="" /></div>
                            <div class="content">
                                <header>
                                    <h4>Emery Berger</h4>
                                    <p><a href="https://emeryberger.com/">University of Massachusetts Amherst</a></p>
                                </header>
                                <p>
                                Bibliophile, foodie, travel enthusiast, EU
                                citizen, speaker of several Romance languages
                                including Catalan, politics and international
                                relations junkie.
                                </p>
                            </div>
                        </div>
                        <div class="feature">
                            <div class="image rounded"><img src="images/Cristian_Cadar.jpg" alt="" /></div>
                            <div class="content">
                                <header>
                                    <h4>Cristian Cadar</h4>
                                    <p><a href="https://www.doc.ic.ac.uk/~cristic/">Imperial College London</a></p>
                                </header>
                                <p>
                                Cycled coast-to-coast in England along the
                                Hadrian Wall with my preschool children.
                                </p>
                            </div>
                        </div>
                        <div class="feature">
                            <div class="image rounded"><img src="images/Cliff_Click.jpg" alt="" /></div>
                            <div class="content">
                                <header>
                                    <h4>Cliff Click</h4>
                                    <p></p>
                                </header>
                                <p>
                                </p>
                            </div>
                        </div>
                        <div class="feature">
                            <div class="image rounded"><img src="images/Jeff_Foster.jpg" alt="" /></div>
                            <div class="content">
                                <header>
                                    <h4>Jeffrey S. Foster</h4>
                                    <p><a href="https://www.cs.tufts.edu/~jfoster/">Tufts University</a></p>
                                </header>
                                <p>
                                One of my hobbies is making chocolates, and
                                I've been known to order 75lbs (34kg) of
                                chocolate at a time.
                                </p>
                            </div>
                        </div>
                        <div class="feature">
                            <div class="image rounded"><img src="images/Laure_Gonnord.jpg" alt="" /></div>
                            <div class="content">
                                <header>
                                    <h4>Laure Gonnord</h4>
                                    <p><a href="http://laure.gonnord.org/pro">Universités Grenoble INP/ Valence Esisar</a></p>
                                </header>
                                <p>
                                Clarinetist, arduino lover, pastry maker and twitter addict.
                                </p>
                            </div>
                        </div>
                        <div class="feature">
                            <div class="image rounded"><img src="images/Stephen_Kell.jpg" alt="" /></div>
                            <div class="content">
                                <header>
                                    <h4>Stephen Kell</h4>
                                    <p><a href="https://www.cs.kent.ac.uk/people/staff/srk21">University of Kent</a></p>
                                </header>
                                <p>When in record shops, people always come up to me asking questions because they think I work there.</p>
                            </div>
                        </div>
                        <div class="feature">
                            <div class="image rounded"><img src="images/Milind_Kulkarni.jpg" alt="" /></div>
                            <div class="content">
                                <header>
                                    <h4>Milind Kulkarni</h4>
                                    <p><a href="https://engineering.purdue.edu/~milind/">Purdue University</a></p>
                                </header>
                                <p style="padding-bottom: 6em">I am best known for a glorious second-place finish on Jeopardy.</p>
                            </div>
                        </div>
                        <div class="feature">
                            <div class="image rounded"><img src="images/Julien_Verlaguet.jpg" alt="" /></div>
                            <div class="content">
                                <header>
                                    <h4>Julien Verlaguet</h4>
                                    <p><a href="https://www.linkedin.com/in/julien-verlaguet-b5710a20/">SkipLabs</a></p>
                                </header>
                                <p>I can play foosball like a champ!</p>
                            </div>
                        </div>
                    </div>

                </div>
            </section>
<%include file="footer.inc" />
