<%include file="header.inc" args="title='Home'"/>
<!-- Banner -->
<section id="banner">
  <h2 style="text-shadow: 1px 1px 2px #222">PLISS 2026</h2>
  <p style="text-shadow: 1px 1px 2px #222; font-size: 2.5em">Programming Language Implementation Summer School</p>
</section>

<!-- One -->
<section id="one" class="wrapper style1">
  <div class="container 75%">
    <div class="row 200%">
      <div class="6u 12u$(medium)">
        <header><h2>News</h2></header>
	<p>
        <strong>2025-12-05</strong>: PLISS announced!<br>
        <strong>2025-01-05</strong>: More speakers added!
        </p>
      </div>
      <div class="6u$ 12u$(medium)">
	<header> <h2>PLISS: the next generation!</h2> <p>May 25-30, 2026</p></header>
	<p>The Eighth International Programming Language Implementation
	  Summer School (PLISS) will be held in Bertinoro in May 2026.
	</p>
	<p>PLISS' goal is to prepare students for advanced study in
	  the field through a combination of lectures on language
	  implementation techniques, exploring the state of the art in
	  language research and practice, and mentoring sessions.</p>
	<p>PLISS is open to all.</p>
	<p>Financial support is available for students in need.</p>
      </div>
    </div>
  </div>
</section>

<section id="four" class="wrapper style3 special">
  <div class="container">
    <ul class="actions">
      <li><a href="registration.html" class="button special big">Register here</a></li>
    </ul>
  </div>
</section> 

<section id="five" class="wrapper style1 special">
  <div class="container" style="width: 100%">
    <h2>Sponsored by</h2>
    <div class="sponsors">
    <div>
      <a href="https://www.sigplan.org/"><img src="images/sponsors/sigplan.png"/></a>
      <a href="https://cuni.cz/UK-1.html"><img src="images/sponsors/charles.png" /></a>
      <a href="https://www.cvut.cz/en"><img src="images/sponsors/cvut.png"/></a>
    </div>
    <div style="padding-top: 20px">
      <a href="https://janestreet.com/"><img src="images/sponsors/jane_street.png"/></a>
      <a href="https://www.kcl.ac.uk/"><img src="images/sponsors/kcl.png"/></a>
      <a href="https://www.northeastern.edu/"><img src="images/sponsors/northeastern.jpg" style="height: 3.5em" /></a>
    </div>
    </div>
  </div>
</section>
<%include file="footer.inc" />
