<%include file="header.inc" args="title='Organisers'"/>
<!-- Main -->
<section id="main" class="wrapper">
  <div class="container">
    <header class="major special">
      <h2>Organisers</h2>
    </header>
    <div class="feature-grid">
      <div class="feature">
	<div class="image rounded"><img src="images/Laurence_Tratt.jpg" alt="" /></div>
	<div class="content">
	  <header>
	    <h4><a href="https://tratt.net/laurie">Laurence Tratt</a></h4>
	    <p>Organiser</p>
	  </header>
          <p>Laurence Tratt is a Professor of Software Development at
            King's College London where he leads the Software
            Development Team.  </p>
	</div>
      </div>
      <div class="feature">
	<div class="image rounded"><img src="images/Jan_Vitek.jpg" alt="" /></div>
	<div class="content">
	  <header>
	    <h4><a href="http://janvitek.org/">Jan Vitek</a></h4>
	    <p>Organiser</p>
	  </header>
	  <p>Jan Vitek is a Professor of Computer Science working on
	    the design and implementation of programming
	    languages.</p>
	</div>
      </div>
      <div class="feature">
	<div class="image rounded"><img src="images/lucie2.jpg" alt="" /></div>
	<div class="content">
	  <header>
	    <h4>Lucie Lerch</h4>
	    <p>Coordinator</p>
	  </header>
	  <p>Lucie is a project manager at CTU and Charles university in Prague.
	  </p>
	</div>
      </div>
    </div>
  </div>
</section>
<%include file="footer.inc" />
