<%include file="header.inc" args="title='Registration'"/>
<!-- Main -->
<section id="main" class="wrapper">
  <div class="container">
    <header class="major special">
      <h2>Registration</h2>
      <p>Before you fill out the expression of interest form, read the following carefully.</p>
    </header>
    <hr>
    <ul class="alt">
      <li>
        <h4>When does PLISS start and end?</h4>
        <p>We start on Mon May 25th 2026 at 08:30 and end on Sat 30th May at
        12:00. Students <b>must</b> arrive in Bertinoro before the
	  start and stay for the entire duration of PLISS.</p>
      </li>
      <li>
        <h4>How much does it cost?</h4>
        <p>Registration is €600. It covers a shared room for the whole
          week, breakfasts, lunches, shuttle from/to Bologna, as well as an excursion.</p>
      </li>
      <li>
        <h4>Can I get support to attend the Summer School?</h4>
       <p>If you would be unable to attend without financial
         assistance, let us know. We have some funds to support
         registrations of deserving students. We cannot cover travel
         costs though.</p>
      </li>
      <li>
        <h4>Who can attend?</h4>
        <p>We welcome everyone interested in programming languages.</p>
      </li>
      <li>
        <h4>Are there prerequisites?</h4>
        <p>An undergraduate programming language class and/or compiler
          class is all you need.</p>
      </li>
    </ul>
    <hr>
    <header>
      <h2>The Expression of Interest Form</h2>
    </header>
    <p>Fill out the
    <a href="https://forms.gle/eY8AkCZj1bmMGEa77">PLISS 2026 expression of interest form</a>
      by Jan 25th 2026 (AoE). We will notify applicants, successful or not,
      by Feb 6th 2026. Successful applicants will then receive a link to the
      payment site which must be completed promptly.
    </p>
  </div>
</section>

<%include file="footer.inc" />
