<%include file="header.inc" args="title='Schedule'"/>
<section id="main" class="wrapper">
  <div class="container">
    <header class="major special"> <h2>Schedule</h2> </header>

    <b>All talks are held in the <a
              href="https://www.ceub.it/sala-affrescata/">Fresco Room</a> in
         the Castle.</b>

    <p/>

    <div class="content">
      <table>
        <tr>
          <td id=""></td>
          <td id="">Monday</td>
          <td id="">Tuesday</td>
          <td id="">Wednesday</td>
          <td id="">Thursday</td>
          <td id="">Friday</td>
          <td id="">Saturday</td>
        </tr>
        <tr>
          <td id="">09:00</td>
          <td id="" style="background-color: #d2edfd"><a href="lectures.html#clebsch">Clebsch</a></td>
          <td id="" style="background-color: #ffdbdb"><a href="lectures.html#">Thakur</a></td>
          <td id="" style="background-color: #e7f9e2"><a href="lectures.html#">Ahmed</a></td>
          <td id="" style="background-color: #d2edfd"><a href="lectures.html#">Hosking</a></td>
          <td id="" style="background-color: #e4e7ff"><a href="lectures.html#">Clebsch</a></td>
          <td id="" style="background-color: #d2edfd"><a href="lectures.html#marr">Marr</a></td>

        </tr>
        <tr>
          <td id="">11:00</td>
          <td id="" style="background-color: #fbe8fd"><a href="lectures.html#marr">Marr</a></td>
          <td id="" style="background-color: #fffcd6"><a href="lectures.html#">Ryu</a></td>
          <td id="" style="background-color: #ffeac9"><a href="lectures.html#">Brunthaler</a></td>
          <td id="" style="background-color: #e7f9e2"><a href="lectures.html#">Serrano</a></td>
          <td id="" style="background-color: #defbf5"><a href="lectures.html#">Flatt</a></td>
          <td id="" style="background-color: #fbe8fd"><a href="lectures.html#">Hosking</a></td>
        </tr>
        <tr>
          <td id="">14:00</td>
          <td id="" style="background-color: #ffdbdb"><a href="lectures.html#">Ahmed</a></td>
          <td id="" style="background-color: #e8f2ec"><a href="lectures.html#">Flatt</a></td>
          <td id=""></td>
          <td id="" style="background-color:  #e4e7ff"><a href="lectures.html#">Ryu</a></td>
          <td id="" style="background-color: #fbe8fd"><a href="lectures.html#">Wrigstad</a></td>
          <td id=""></td>
        </tr>
        <tr>
          <td id="">16:00</td>
          <td id="" style="background-color: #defbf5"><a href="lectures.html#">Wrigstad</a></td>
          <td id="" style="background-color: #ffeac9"><a href="lectures.html#">Brunthaler</a></td>
          <td id=""></td>
          <td id="" style="background-color: #e8f2ec"><a href="lectures.html#">Thakur</a></td>
          <td id="" style="background-color: #fffcd6"><a href="lectures.html#">Serrano</a></td>
          <td id=""></td>
        </tr>
      </table>
    </div>
  </div>
</section>

<%include file="footer.inc" />
