<%include file="header.inc" args="title='Speakers'"/>
<section id="main" class="wrapper">
  <div class="container">
    <header class="major special"><h2>PLISS Speakers</h2></header>

    <div class="feature-grid">
      <div class="feature">
        <div class="image rounded"><img src="images/ahmed.jpg" alt="" /></div>
        <div class="content">
          <header>
            <h4><a href="https://www.khoury.northeastern.edu/home/amal/">Amal Ahmed</a></h4>
            <p>Northeastern University</p>
          </header>
          <p>My happy accomplishment from 2025: deadlifting 135lbs! </p>
        </div>
      </div>

      <div class="feature">
        <div class="image rounded"><img src="images/clebsch.jpg" alt="" /></div>
        <div class="content">
          <header>
            <h4><a href="https://github.com/sylvanc/">Sylvan Clebsch</a></h4>
            <p>Microsoft</p>
          </header>
          <p>I still haven't finished danger 5 with the soldier potato in Brotato, even though a 13 year old kid (the best source of advice) told me how to do it.</p>
        </div>
      </div>

      <div class="feature">
        <div class="image rounded"><img src="images/flatt.jpg" alt="" /></div>
        <div class="content">
          <header>
            <h4><a href="https://www.cs.utah.edu/~mflatt/">Matthew Flatt</a></h4>
            <p>University of Utah</p>
          </header>
          <p>Matthew's 1991 Miata is red with two white stripes, and it has the Utah license plate RACKET.</p>
        </div>
      </div>

      <div class="feature">
        <div class="image rounded"><img src="images/hosking.jpg" alt="" /></div>
        <div class="content">
          <header>
            <h4><a href="https://comp.anu.edu.au/people/antony-hosking">Tony Hosking</a></h4>
            <p>Australian National University</p>
          </header>
          <p>As someone who works in garbage collection I often get offers for cheap deals on rubbish trucks. And volume discounts on <a href="https://www.brisbane.qld.gov.au/content/dam/brisbanecitycouncil/corpwebsite/bins-waste-and-recycling/images/general-waste-bin.jpg">city rubbish bins</a>.</p>
        </div>
      </div>

      <div class="feature">
        <div class="image rounded"><img src="images/odersky.jpg" alt="" /></div>
        <div class="content">
          <header>
            <h4><a href="https://people.epfl.ch/martin.odersky">Martin Odersky</a></h4>
            <p>EPFL</p>
          </header>
          <p>I like to play all kinds of board games!</p>
        </div>
      </div>

      <div class="feature">
        <div class="image rounded"><img src="images/ryu.jpg" alt="" /></div>
        <div class="content">
          <header>
            <h4><a href="https://plrg.kaist.ac.kr/ryu">Sukyoung Ryu</a></h4>
            <p>KAIST</p>
          </header>
          <p>My Pilates instructor regrets that I didn't major in Taekwondo.</p>
        </div>
      </div>

      <div class="feature">
        <div class="image rounded"><img src="images/thakur.jpg" alt="" /></div>
        <div class="content">
          <header>
            <h4><a href="https://www.cse.iitb.ac.in/~manas/">Manas Thakur</a></h4>
            <p>IIT Bombay</p>
          </header>
          <p>Don't mistake me for a PLISS photographer if you find me clicking pictures with a camera all around!</p>
        </div>
      </div>

      <div class="feature">
        <div class="image rounded"><img src="images/wrigstad.jpg" alt="" /></div>
        <div class="content">
          <header>
            <h4><a href="https://wrigstad.com">Tobias Wrigstad</a></h4>
            <p>Uppsala University</p>
          </header>
          <p>Last time I was in Italy I was an invited guest at a role-playing convention (?) with 45,000 participants.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<%include file="footer.inc" />
