<%include file="header.inc" args="title='Registration'"/>
			<section id="main" class="wrapper">
				<div class="container">

					<header class="major special">
						<h2>Registration</h2>
                        <p>Before you fill out the expression of interest form
                        at the bottom of this page, please read the following
                        frequently asked questions carefully.</p>
					</header>

                    <hr>

                    <ul class="alt">
                        <li>
                            <h4>When does the school start and end?</h4>
                            <p>PLISS 2021 is being held online on 6 days spread over several weeks,
                            with sessions at very different times of the day to
                            maximise global accessibility.
                            Please see the <a href="schedule.html">schedule</a> for
                            more details.</p>
                        </li>
                        <li>
                            <h4>How much does it cost?</h4>
                            <p>PLISS 2021 is not charging registration as
                            our sponsors are covering our costs. We know that
                            people sometimes treat free things with less reverence
                            than those they pay for. We hope that PLISS 2021
                            attendees will buck that trend! We do
                            ask that if you are selected to attend that you turn
                            up to all sessions which overlap with your timezone.</p>
                        </li>
                        <li>
                            <h4>Who can attend?</h4>
                            <p>PLISS 2020 is aimed at mid/late stage PhD
                            students and early postdocs working in and around
                            programming languages. We will accept some
                            applicants from other career stages, and a small
                            number of people from industry, though PLISS 2021
                            will be weighted towards more junior applicants.
                            Note: previous attendees of PLISS
                            are eligible to attend PLISS 2021.</p>
                        </li>
                        <li>
                            <h4>Are there prerequisites?</h4>
                            <p>An undergraduate programming language class and/or
                             compiler class is all you need.</p>
                        </li>
                    </ul>

                    <hr>

                    <header>
                    <h2>The Expression of Interest Form</h2>
                    </header>
                    <p>
                    Once you have read the information above, please fill out
                    <a href="https://forms.gle/yLxgMn68i9JibS2s6">PLISS 2021
                    expression of interest form</a> by 2021-05-07. We will then
                    notify applicants, successful or not, on or before 2021-05-14.
                    </p>
				</div>
			</section>
<%include file="footer.inc" />
