<%include file="header.inc" args="title='Speakers'"/>


			<section id="main" class="wrapper">
				<div class="container">

					<header class="major special">
                        <h2>Schedule</h2>
                    </header>

<table>
<tr><td>May</td><td>20</td><td>Felienne Hermans</td><td>Technical talk</td></tr>
<tr><td></td><td>28</td><td>Felienne Hermans, Hannes Payer</td><td>Mentoring session</td></tr>
<tr><td>June</td><td>5</td><td>Ranjit Jhala</td><td>Technical talk</td></tr>
<tr><td></td><td>13</td><td>Ranjit Jhala, Chris Seaton</td><td>Mentoring session</td></tr>
<tr><td></td><td>21</td><td>Manuel Serrano</td><td>Technical talk</td></tr>
<tr><td></td><td>29</td><td>TBC</td><td>Technical talk</td></tr>
</table>

Sessions will typically last around 2 hours. Precise times TBC, but sessions
will be spread throughout the day to maximise accessibility for people in as
wide a variety of timezones as practicable.

                </div>
            </section>
<%include file="footer.inc" />
