<%include file="header.inc" args="title='Speakers'"/>


			<section id="main" class="wrapper">
				<div class="container">

					<header class="major special">
                        <h2>Speakers</h2>
                    </header>

                    <div class="feature-grid">
                        <div class="feature">
                            <div class="image rounded"><img src="images/Chris_Seaton.jpg" alt="" /></div>
                            <div class="content">
                                <header>
                                    <h4><a href="https://chrisseaton.com">Chris Seaton</a></h4>
                                    <p>Shopify</p>
                                </header>
                                <p>
                                I'm Squadron Leader of the
                                Cheshire Yeomanry squadron of the Queen's Own
                                Yeomanry, Cheshire's historic reserve light
                                cavalry squadron.
                                </p>
                            </div>
                        </div>
                        <div class="feature">
                            <div class="image rounded"><img src="images/Hannes_Payer.jpg" alt="" /></div>
                            <div class="content">
                                <header>
                                    <h4><a href="https://research.google/people/HannesPayer">Hannes Payer</a></h4>
                                    <p>Google</a></p>
                                </header>
                                <p>
                                I am on an obsessive quest to find the right
                                parameters to pull the perfect espresso shot.
                                </p>
                            </div>
                        </div>
                        <div class="feature">
                            <div class="image rounded"><img src="images/Felienne_Hermans.jpg" alt="" /></div>
                            <div class="content">
                                <header>
                                    <h4><a href="https://felienne.com/">Felienne Hermans</a></h4>
                                    <p>Leiden University</p>
                                </header>
                                <p>
                                What about "Running code and marathons"?
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
            </section>
<%include file="footer.inc" />
