<%include file="header.inc" args="title='Lectures'"/>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="container">

					<header class="major special">
						<h2>Lectures</h2>
						<p></p>
					</header>

                    <div class="content">
                        <div id="hermans" style="margin-top: -6em; position: absolute"></div>
                        <header>
                            <h4>Gradual Programming with Hedy
                            <span class="and">and</span>
                            Creating Programming Languages in non-English
                            </h4>
                            <p>Felienne Hermans</p>
                        </header>
                        <p>
                        </p>
                        </div>

                        <hr>

                        <div id="marr" style="margin-top: -6em; position: absolute"></div>
                        <header>
                            <h4>TBD</h4>
                            <p>Stefan Marr</p>
                        </header>
                        <p>
                        </p>

                        <hr>

                        <div id="serrano" style="margin-top: -6em; position: absolute"></div>
                        <header>
                            <h4>TBD</h4>
                            <p>Manuel Serrano</p>
                        </header>
                        <p>
                        </p>

                    </div>

				</div>
			</section>

<%include file="footer.inc" />
