<%include file="header.inc" args="title='Speakers'"/>
<section id="main" class="wrapper">
  <div class="container">
    <header class="major special"> <h2>Schedule</h2> </header>
    <div class="content">
      <table>
        <tr>
          <td id=""></td>
          <td id="">Sunday</td>
          <td id="">Monday</td>
          <td id="">Tuesday</td>
          <td id="">Wednesday</td>
          <td id="">Thursday</td>
          <td id="">Friday</td>
          <td id="">Saturday</td>
        </tr>
        <tr>
          <td id="">09:00</td>
          <td id=""></td>
          <td id="" style="background-color: #d2edfd"><a href="lectures.html#stefan">Marr</a></td>
          <td id="" style="background-color: #ffbebe"><a href="lectures.html#w">Workshop</a></td>
          <td id="" style="background-color: #dbfdd2"><a href="lectures.html#lippautz">Lippautz</a></td>
          <td id="" style="background-color:  #d2fdf5"><a href="lectures.html#tony">Hosking</a></td>
          <td id="" style="background-color: #d2d9fd"><a href="lectures.html#su">Su</a></td>
          <td id="" style="background-color: #d2fdf5"><a href="lectures.html#serrano">Serrano</a></td>

        </tr>
        <tr>
          <td id="">11:00</td>
          <td id=""></td>
          <td id="" style="background-color: #f8d2fd"><a href="lectures.html#sophia">Drossopoulou</a></td>
          <td id="" style="background-color: #ffbebe"><a href="lectures.html#w">Workshop</a></td>
          <td id="" style="background-color: #ffe0af"><a href="lectures.html#wadler">Wadler</a></td>
          <td id="" style="background-color: #d2fdf5"><a href="lectures.html#serrano">Serrano</a></td>
          <td id="" style="background-color: #f8d2fd"><a href="lectures.html#james">Noble</a></td>
          <td id="" style="background-color: #ffbebe"><a href="lectures.html#fellienne">Herrmans</a></td>
        </tr>
        <tr>
          <td id="">14:00</td>
          <td id=""></td>
          <td id="" style="background-color: #dbfdd2"><a href="lectures.html#lippautz">Lippautz</a></td>
          <td id="" style="background-color: #ffbebe"><a href="lectures.html#w">Workshop</a></td>
          <td id="">Excursion</td>
          <td id="" style="background-color: #f8d2fd"><a href="lectures.html#sophia">Drossopoulou</a></td>
          <td id="" style="background-color: #ffe0af"><a href="lectures.html#wadler">Wadler</a></td>
          <td id="">Ends with lunch at noon</td>
        </tr>
        <tr>
          <td id="">16:00</td>
          <td id="">Welcome</td>
          <td id="" style="background-color: #d2fdf5"><a href="lectures.html#tony">Hosking</a></td>
          <td id="" style="background-color: #ffbebe"><a href="lectures.html#w">Workshop</a></td>
          <td id="">Excursion</td>
          <td id="" style="background-color: #d2d9fd"><a href="lectures.html#su">Su</a></td>
          <td id="" style="background-color: #d2edfd"><a href="lectures.html#stefan">Marr</a></td>
          <td id=""></td>
        </tr>
      </table>
    </div>
  </div>
</section>

<%include file="footer.inc" />
