<%include file="header.inc" args="title='Speakers'"/>


			<section id="main" class="wrapper">
				<div class="container">

					<header class="major special">
                        <h2>Speakers</h2>
                    </header>

                    <div class="feature-grid">
                        <div class="feature">
                            <div class="image rounded"><img src="images/Felienne_Hermans.jpg" alt="" /></div>
                            <div class="content">
                                <header>
                                    <h4>Felienne Hermans</h4>
                                    <p><a href="https://felienne.com/">Vrije Universiteit Amsterdam</a></p>
                                </header>
                                <p>
                                I love knitting and long-distance running. You
                                will surely see me doing both at PLISS! I also
                                own a tortoise andseveral stick insects but you
                                won’t be seeing them :-)
                                </p>
                            </div>
                        </div>
                        <div class="feature">
                            <div class="image rounded"><img src="images/Stefan_Marr.jpg" alt="" /></div>
                            <div class="content">
                                <header>
                                    <h4>Stefan Marr</h4>
                                    <p><a href="https://stefan-marr.de/">University of Kent</a></p>
                                </header>
                                <p>
                                He thinks that Belgian Chocolate is the best.
                                </p>
                            </div>
                        </div>
                        <div class="feature">
                            <div class="image rounded"><img src="images/Manuel_Serrano.jpg" alt="" /></div>
                            <div class="content">
                                <header>
                                    <h4>Manuel Serrano</h4>
                                    <p><a href="https://www-sop.inria.fr/members/Manuel.Serrano/">Inria</a></p>
                                </header>
                                <p>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
<%include file="footer.inc" />
