<%include file="header.inc" args="title='Speakers'"/>
<section id="main" class="wrapper">
  <div class="container">
    <header class="major special"><h2>PLISS Speakers</h2></header>
    <div class="feature-grid">
      <div class="feature">
	<div class="image rounded"><img src="images/SophiaD.jpg" alt="" /></div>
        <div class="content">
          <header>
            <h4>Sophia Drossopoulou</h4>
            <p><a href="https://wp.doc.ic.ac.uk/sd/">Imperial College London</a></p>
          </header>
          <p>
            Sophia dabbles in watercolouring and windsurfing; her ambition for
            this summer is not to be outrun by her eldest grandson.
          </p>
        </div>
      </div>
      <div class="feature">
        <div class="image rounded"><img src="images/Felienne_Hermans.jpg" alt="" /></div>
        <div class="content">
          <header>
            <h4>Felienne Hermans</h4>
            <p><a href="https://felienne.com/">Vrije Universiteit Amsterdam</a></p>
          </header>
          <p>
            Love knitting and long-distance running. You can join her doing both. Also
            own a tortoise & stick insects but you won't see them.
          </p>
        </div>
      </div>
      <div class="feature">
        <div class="image rounded"><img src="images/Stefan_Marr.jpg" alt="" /></div>
        <div class="content">
          <header>
            <h4>Stefan Marr</h4>
            <p><a href="https://stefan-marr.de/">University of Kent</a></p>
          </header>
          <p>
            Thinks that Belgian Chocolate is the best, even when faced with incontrovertible evidence to the contrary.
          </p>
        </div>
      </div>
      <div class="feature">
        <div class="image rounded"><img src="images/Manuel_Serrano.jpg" alt="" /></div>
        <div class="content">
          <header>
            <h4>Manuel Serrano</h4>
            <p><a href="https://www-sop.inria.fr/members/Manuel.Serrano/">Inria</a></p>
          </header>
          <p>
          Loves to be scared to death when climbing one of the countless cliffs and
          mountains nearby his house.
          </p>
        </div>
      </div>
      <div class="feature">
        <div class="image rounded"><img src="images/Michael.jpg" alt="" /></div>
        <div class="content">
          <header>
            <h4>Michael Lippautz</h4>
            <p><a href="https://research.google/people/MichaelLippautz/">Google</a></p>
          </header>
          <p>Harvests walnuts in his garden, from 30m tall trees, right in the middle of a city.</p>
        </div>
      </div>
      <div class="feature">
        <div class="image rounded"><img src="images/Tony.jpg" alt="" /></div>
        <div class="content">
          <header>
            <h4>Tony Hosking</h4>
            <p><a href="https://hosking.github.io">Australian National University</a></p>
          </header>
          <p>Maintained <a href="https://github.com/modula3/pm3">Modula3</a> until the bitter end.</p>
        </div>
      </div>
      <div class="feature">
        <div class="image rounded"><img src="images/Phil.jpg" alt="" /></div>
        <div class="content">
          <header>
            <h4>Phil Wadler</h4>
            <p><a href="https://homepages.inf.ed.ac.uk/wadler/">University of Edinburgh</a>
          </header>
          <p>Known for his appearances as Lambdaman and
          his <a href="https://www.youtube.com/watch?v=GnpcMCW0RUA">standup
          comedy</a> about computability theory.</p>
        </div>
      </div>
      <div class="feature">
        <div class="image rounded"><img src="images/Zsu.jpg" alt="" /></div>
        <div class="content">
          <header>
            <h4>Zhendong Su</h4>
            <p><a href="https://people.inf.ethz.ch/suz/">ETHZ</a></p>
          </header>
          <p>Moved to Zurich in 2018 for the chocolate.</p>
        </div>
      </div>
    </div>
    <header class="major special"><h2>Workshop Speakers</h2></header>
    <div class="feature-grid">
      <div class="feature">
        <div class="image rounded"><img src="images/Suresh.jpg" alt="" /></div>
        <div class="content">
          <header>
            <h4>Suresh Jagannathan</h4>
            <p><a href="https://www.cs.purdue.edu/homes/suresh/">Purdue University</a></p>
          </header>
          <p>Loves the Alps and Frank Zappa.</p>
        </div>
      </div>
      <div class="feature">
        <div class="image rounded"><img src="images/Darius.jpg" alt="" /></div>
        <div class="content">
          <header>
            <h4>Darius Blasband</h4>
            <p><a href="    https://www.dariusblasband.com">Raincode</a></p>
          </header>
          <p>Aside from compilers and all of that monkey business, he is an avid musician with three albums as a composer.  </p>
        </div>
      </div>
      <div class="feature">
        <div class="image rounded"><img src="images/James.jpg" alt="" /></div>
        <div class="content">
          <header>
            <h4>James Noble</h4>
            <p><a href="https://homepages.ecs.vuw.ac.nz/~kjx/">Self</a></p>
          </header>
          <p> His first Law of Software is: <i> Good projects produce software. Bad projects produce methodologies</i>.</p>
        </div>
      </div>
      <div class="feature">
        <div class="image rounded"><img src="images/Tobias.jpg" alt="" /></div>
        <div class="content">
          <header>
            <h4>Tobias Wrigstad</h4>
            <p><a href="http://wrigstad.com">Uppsala University</a></p>
          </header>
          <p>Partly, and unapologetically, responsible for  "Structure and Interpretation of Computer Programs: JavaScript Edition".</p>
        </div>
      </div>
      <div class="feature">
        <div class="image rounded"><img src="images/David.jpg" alt="" /></div>
        <div class="content">
          <header>
            <h4>David Pichardie</h4>
            <p><a href="https://davidpichardie.github.io">Meta</a></p>
          </header>
          <p>A long time happy user of Coq and Abstract interpretation.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<%include file="footer.inc" />
